body {
    font-size: 1rem;
    font-family: Lato, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}

.accesos-header {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    background-color: #333;
    padding-right: 10rem;
}

.accesos-header ul {
    max-width: 78.75rem;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.accesos-header ul li {
    float: right;
    font-size: 0.77rem;
    color: #f4f4f4;
    text-align: center;
    border-right: 1px solid #e0e0e0;
    padding: 0.25rem 0.8125rem;
    display: flex;
    align-items: center;
}


.accesos-header ul li:first-child {
    padding: 0.25rem 0 0.25rem 0.8125rem;
    border: none;
}

.accesos-header ul li:last-child {
    padding: 0.25rem 0.8125rem 0.25rem 0;
}

.accesos-header ul li a {
    padding: 0.25rem 0.625rem;
    display: block;
    padding: 0;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.accesos-header ul li img {
    margin-right: 5px;
}

.accesos-header ul li a:hover {
    color: #ffa423 !important;
}

.accesos-header ul li strong {
    font-weight: bolder;    
    margin-left: 0.2rem;
}

.main-content {
    padding: 1.25rem;
}

footer {
    /* background-color: #333; */
    color: #fff;
    padding: 0.625rem;
}




/* Media query for tablets */
@media screen and (min-width: 768px) {
    .main-content {
        padding: 30px;
    }

    footer {
        padding: 20px;
    }
}



/* Media query for desktops */
@media screen and (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    footer {
        text-align: center;
    }
}